<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="1">

	<!-- Set these to the correct identifiers from Partner Center -->
	<Identity Name="41336MicrosoftATG.ATGSimpleLiveSample"
		Version="1.0.0.0"
		Publisher="CN=A4954634-DF4B-47C7-AB70-D3215D246AF1"/>

	<ExecutableList>
		<Executable Name="testsprite2.exe"
					TargetDeviceFamily="Scarlett"
					Id="Game" />
	</ExecutableList>

	<!-- Set these to the correct values from Partner Center -->
	<TitleId>7325F784</TitleId>
	<MSAAppId>0000000000000000</MSAAppId>

	<ShellVisuals DefaultDisplayName="testsprite2"
					PublisherDisplayName="SDL"
					Square480x480Logo="Logo480x480.png"
					Square150x150Logo="Logo150x150.png"
					Square44x44Logo="Logo44x44.png"
					Description="testsprite2"
					SplashScreenImage="SplashScreenImage.png"
					ForegroundText="light"
					BackgroundColor="#000000"
					StoreLogo="Logo100x100.png"/>
</Game>