name: Build

on: [push, pull_request]

jobs:
  Build:
    name: ${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.os }}

    defaults:
      run:
        shell: ${{ matrix.platform.shell }}

    strategy:
      fail-fast: false
      matrix:
        platform:
        - { name: Windows (mingw32),      os: windows-latest, shell: 'msys2 {0}', msystem: mingw32, msys-env: mingw-w64-i686 }
        - { name: Windows (mingw64),      os: windows-latest, shell: 'msys2 {0}', msystem: mingw64, msys-env: mingw-w64-x86_64 }
        - { name: Linux,                  os: ubuntu-20.04,   shell: sh,   flags: -GNinja }
        - { name: MacOS,                  os: macos-latest,   shell: sh }

    steps:
    - name: Set up MSYS2
      if: matrix.platform.shell == 'msys2 {0}'
      uses: msys2/setup-msys2@v2
      with:
        msystem: ${{ matrix.platform.msystem }}
        install: >-
          ${{ matrix.platform.msys-env }}-gcc
          ${{ matrix.platform.msys-env }}-cmake
          ${{ matrix.platform.msys-env }}-ninja
          ${{ matrix.platform.msys-env }}-pkg-config

    - name: Setup Linux dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install \
          autoconf \
          wayland-protocols \
          pkg-config \
          ninja-build \
          libasound2-dev \
          libdbus-1-dev \
          libegl1-mesa-dev \
          libgl1-mesa-dev \
          libgles2-mesa-dev \
          libglu1-mesa-dev \
          libibus-1.0-dev \
          libpulse-dev \
          libsdl2-2.0-0 \
          libsndio-dev \
          libudev-dev \
          libwayland-dev \
          libwayland-client++0 \
          wayland-scanner++ \
          libwayland-cursor++0 \
          libx11-dev \
          libxcursor-dev \
          libxext-dev \
          libxi-dev \
          libxinerama-dev \
          libxkbcommon-dev \
          libxrandr-dev \
          libxss-dev \
          libxt-dev \
          libxv-dev \
          libxxf86vm-dev \
          libdrm-dev \
          libgbm-dev\
          libpulse-dev \
          libpango1.0-dev
        sudo apt install meson
        git clone --depth 1 https://gitlab.gnome.org/jadahl/libdecor.git --branch 0.1.0
        cd libdecor
        meson build --buildtype release -Ddemo=false -Ddbus=disabled
        ninja -v -C build
        sudo meson install -C build
    - uses: actions/checkout@v2
    - name: Configure CMake
      run: cmake -B build -DSDL_TEST=ON ${{ matrix.platform.flags }}
    - name: Build
      run: cmake -v --build build/ --config Release
    - name: Install
      run: |
        set -eu
        cmake -v --build build/ --config Release
        rm -fr DESTDIR-cmake
        DESTDIR=$(pwd)/DESTDIR-cmake cmake -v --install build/ --config Release
        ( cd DESTDIR-cmake; find ) | LC_ALL=C sort -u
    - name: Configure Autotools
      if: runner.os == 'Linux'
      run: |
        set -eu
        rm -fr build-autotools
        mkdir build-autotools
        ./autogen.sh
        ( cd build-autotools && ../configure )
        curdir="$(pwd)"
        multiarch="$(dpkg-architecture -qDEB_HOST_MULTIARCH)"
        (
          mkdir -p build-autotools/test
          cd build-autotools/test
          ../../test/configure \
            --x-includes=/usr/include \
            --x-libraries="/usr/lib/${multiarch}" \
            SDL_CFLAGS="-I${curdir}/include" \
            SDL_LIBS="-L${curdir}/build-autotools/build/.libs -lSDL2" \
            ac_cv_lib_SDL2_ttf_TTF_Init=no \
            ${NULL+}
        )
    - name: Build with Autotools
      if: runner.os == 'Linux'
      run: |
        set -eu
        curdir="$(pwd)"
        parallel="$(getconf _NPROCESSORS_ONLN)"
        make -j"${parallel}" -C build-autotools V=1
        make -j"${parallel}" -C build-autotools/test V=1
        rm -fr DESTDIR-autotools
        mkdir DESTDIR-autotools
        make -j"${parallel}" -C build-autotools install DESTDIR="${curdir}/DESTDIR-autotools" V=1
        ( cd DESTDIR-autotools; find ) | LC_ALL=C sort -u
        make -j"${parallel}" -C build-autotools dist V=1
