name: Build (MSVC)

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  Build:
    name: ${{ matrix.platform.name }}
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        platform:
        - { name: Windows (x64),          flags: -A x64,   project: VisualC/SDL.sln, projectflags: '/p:Platform=x64', artifact: 'SDL-VC-x64' }
        - { name: Windows (x86),          flags: -A Win32, project: VisualC/SDL.sln, projectflags: '/p:Platform=Win32', artifact: 'SDL-VC-x86' }
        - { name: Windows (clang-cl x64), flags: -T ClangCL -A x64, artifact: 'SDL-clang-cl-x64' }
        - { name: Windows (clang-cl x86), flags: -T ClangCL -A Win32, artifact: 'SDL-clang-cl-x86' }
        - { name: Windows (ARM),          flags: -A ARM, artifact: 'SDL-VC-arm32', notests: true }
        - { name: Windows (ARM64),        flags: -A ARM64, artifact: 'SDL-VC-arm64', notests: true }
        - { name: UWP (x64),              flags: -A x64 -DCMAKE_SYSTEM_NAME=WindowsStore -DCMAKE_SYSTEM_VERSION="10.0", nowerror: true, notests: true,
            project: VisualC-WinRT/SDL-UWP.sln, projectflags: '/p:Platform=x64 /p:WindowsTargetPlatformVersion=10.0.17763.0', artifact: 'SDL-VC-UWP' }

    steps:
    - uses: actions/checkout@v4
    - name: Create CMake project using SDL as a subproject
      shell: python
      run: |
        import os
        import textwrap
        srcdir = r"${{ github.workspace }}".replace("\\", "/")
        builddir = f"{ srcdir }/build"
        os.makedirs(builddir)
        cmakelists_txt = textwrap.dedent(f"""\
          # Always build .PDB symbol file
          set(CMAKE_POLICY_DEFAULT_CMP0141 "NEW" CACHE STRING "MSVC debug information format flags are selected by an abstraction")
          set(CMAKE_MSVC_DEBUG_INFORMATION_FORMAT "ProgramDatabase" CACHE STRING "MSVC debug information format")
          set(CMAKE_EXE_LINKER_FLAGS "-DEBUG" CACHE STRING "Linker flags for executables")
          set(CMAKE_SHARED_LINKER_FLAGS "-DEBUG" CACHE STRING "Linker flag for shared libraries")
          cmake_minimum_required(VERSION 3.0...3.25)
          project(sdl_user)
          enable_testing()
          add_subdirectory("{ srcdir }" SDL)
        """)
        print(cmakelists_txt)
        with open(f"{ builddir }/CMakeLists.txt", "w") as f:
          f.write(cmakelists_txt)
    - name: Configure (CMake)
      run: cmake -S build -B build `
        -Wdeprecated -Wdev -Werror `
        -DSDL_WERROR=${{ !matrix.platform.nowerror }} `
        -DSDL_SHARED=ON `
        -DSDL_STATIC=ON `
        -DSDL_TESTS=ON `
        -DSDL_INSTALL_TESTS=ON `
        -DSDL_VENDOR_INFO="Github Workflow" `
        -DSDL_DISABLE_INSTALL=OFF `
        -DSDL_DISABLE_INSTALL_CPACK=OFF `
        -DSDL_DISABLE_INSTALL_DOCS=OFF `
        -DSDLTEST_PROCDUMP=ON `
        ${{ matrix.platform.flags }} `
        -DCMAKE_INSTALL_PREFIX=prefix
    - name: Build (CMake)
      id: build
      run: |
        cmake --build build/ --config Release --parallel
    - name: Run build-time tests
      id: tests
      if: ${{ !matrix.platform.notests }}
      run: |
        $env:SDL_TESTS_QUICK=1
        ctest -VV --test-dir build/ -C Release -j2
    - name: Install (CMake)
      run: |
        echo "SDL3_DIR=$Env:GITHUB_WORKSPACE/prefix" >> $Env:GITHUB_ENV
        cmake --install build/
    - name: Package (CPack)
      if: ${{ always() && steps.build.outcome == 'success' }}
      run: |
        cmake --build build/ --config Release --target PACKAGE
    - name: Verify CMake configuration files
      run: |
        cmake -S cmake/test -B cmake_config_build `
          -DCMAKE_PREFIX_PATH=${{ env.SDL3_DIR }} `
          ${{ matrix.platform.flags }}
        cmake --build cmake_config_build --config Release
    - name: Add msbuild to PATH
      if: ${{ matrix.platform.project != '' }}
      uses: microsoft/setup-msbuild@v2
    - name: Build msbuild
      if: ${{ matrix.platform.project != '' }}
      run: msbuild ${{ matrix.platform.project }} /m /p:BuildInParallel=true /p:Configuration=Release ${{ matrix.platform.projectflags }}
    - uses: actions/upload-artifact@v4
      if: ${{ always() && steps.tests.outcome == 'failure' }}
      with:
        if-no-files-found: ignore
        name: '${{ matrix.platform.artifact }}-minidumps'
        path: build/**/*.dmp
    - uses: actions/upload-artifact@v4
      if: ${{ always() && steps.build.outcome == 'success' }}
      with:
        if-no-files-found: error
        name: ${{ matrix.platform.artifact }}
        path: build/dist/SDL3*
