name: Build (PowerPC64)

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  ppc64le:
    runs-on: ubuntu-latest
    container:
      image: dockcross/linux-ppc64le:latest
    steps:
      - uses: actions/checkout@v4
      - name: Install build requirements
        run: |
          apt-get update -y
          apt-get install -y cmake ninja-build
      - name: Configure (CMake)
        run: |
          # FIXME: Enable SDL_WERROR
          cmake -S . -B build -G Ninja \
            -Wdeprecated -Wdev -Werror \
            -DSDL_SHARED=ON \
            -DSDL_STATIC=ON \
            -DSDL_TESTS=ON \
            -DSDL_WERROR=OFF \
            -DSDL_TESTS=ON \
            -DSDL_INSTALL_TESTS=ON \
            -DSDL_DISABLE_INSTALL_DOCS=OFF \
            -DSDL_VENDOR_INFO="Github Workflow" \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_INSTALL_PREFIX=prefix
      - name: Build (CMake)
        run: |
          cmake --build build --verbose
      - name: Install (CMake)
        run: |
          echo "SDL3_DIR=$(pwd)/prefix" >> $GITHUB_ENV
          cmake --install build/
          ( cd prefix; find ) | LC_ALL=C sort -u
      - name: Package (CPack)
        run: |
          cmake --build build/ --config Release --target package
      - name: Verify CMake configuration files
        run: |
          cmake -S cmake/test -B cmake_config_build -G Ninja \
            -DTEST_SHARED=TRUE \
            -DTEST_STATIC=TRUE \
            -DCMAKE_PREFIX_PATH=${{ env.SDL3_DIR }} \
            -DCMAKE_BUILD_TYPE=Release
          cmake --build cmake_config_build --verbose
      - name: Verify sdl3.pc
        run: |
          export PKG_CONFIG_PATH=${{ env.SDL3_DIR }}/lib/pkgconfig
          cmake/test/test_pkgconfig.sh
      - uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          name: SDL-ppc64le
          path: build/dist/SDL3*
